<!DOCTYPE html>
<html lang="ko" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Gallary - Date</title>
    <meta name="description" content="Loading Effects for Grid Items with CSS Animations" />
    <meta name="keywords" content="css animation, loading effect, google plus, grid items, masonry" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/GridLoadingEffects/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/GridLoadingEffects/component.css" />
    <link rel="stylesheet" href="/css/preloader/flower.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/GridLoadingEffects/modernizr.custom.js"></script>

</head>

<body>
    <!--CSS Spinner-->
    <div class="flower-loader">
            Loading...
    </div>

    {{ content }}

    <!-- Preloader -->
    <script>
            //Preloader
            $(function(){ // this replaces document.ready
                $(window).on("load", function(){
                    $('.flower-loader').fadeOut('slow', function() {
                    $(this).remove();
                    });
                });
            });
    </script>

    <!-- Grid Loading -->
    <script src="/js/GridLoadingEffects/masonry.pkgd.min.js"></script>
    <script src="/js/GridLoadingEffects/imagesloaded.js"></script>
    <script src="/js/GridLoadingEffects/classie.js"></script>
    <script src="/js/GridLoadingEffects/AnimOnScroll.js"></script>
    <script>
        new AnimOnScroll(document.getElementById('grid'), {
            minDuration: 0.4,
            maxDuration: 0.7,
            viewportFactor: 0.2
        });
    </script>

</body>

</html>